{% extends '::base.html.twig' %}

{% block body %}
<div class="container" align="center">
	<h2>hello {{app.user.username}}</h2>
	<br/>
	<a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% endblock %}